PORT=4000
DATABASE_URL=postgresql://postgres:password@localhost:5432/appfbo
NODE_ENV=development
JWT_SECRET=replace_with_strong_random_secret
JWT_EXPIRES_IN=7d

ORANGE_CLIENT_ID=
ORANGE_CLIENT_SECRET=
ORANGE_TOKEN_URL=https://api.orange.com/oauth/v3/token
ORANGE_SENDER_ADDRESS=tel:+225894650
ORANGE_SENDER_NUMBER=894650

ORANGE_WEBHOOK_TOKEN=
BREVO_WEBHOOK_TOKEN=
WAVE_WEBHOOK_SECRET=
WAVE_WEBHOOK_SIGNATURE_HEADER=wave-signature

# Email SMTP (Brevo / SendGrid / SMTP classique)
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_REQUIRE_TLS=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=FOREVER
EMAIL_SIMULATE=false

# Sécurité (laisser à false en production)
ALLOW_HEADER_AUTH=false
ALLOW_QUERY_TOKEN_AUTH=false
ENABLE_SEED_SUPER_ADMIN=false
