PORT=4000
DATABASE_URL=postgresql://postgres:password@localhost:5432/appfbo

ORANGE_CLIENT_ID=
ORANGE_CLIENT_SECRET=
ORANGE_TOKEN_URL=https://api.orange.com/oauth/v3/token
ORANGE_SENDER_ADDRESS=tel:+225894650
ORANGE_SENDER_NUMBER=894650

ORANGE_WEBHOOK_TOKEN=
